* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Font Family files */
@font-face {
  font-family: 'Brandon';
  src: url('./assets/fonts/brandon-grotesque.woff') format('woff');
}
@font-face {
  font-family: 'Trajan';
  src: url('./assets/fonts/TrajanPro-Regular.woff') format('woff');
}
@font-face {
  font-family: 'Zapfino';
  src: url('./assets/fonts/ZapfinoExtraLT-One.woff') format('woff');
}
/* Font Family files */

/* Sass templates */
/* global classes*/

header {
  width: 100%;
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 2;
}

.overlay {
  width: 100%;
  height: max-content;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 80vh;
  align-items: center;
  justify-content: center;
}

.overlay input {
  border-radius: 10px;
  border: none;
}

/* h2 {
  color: #9b7a16;
  text-align: center;
  position: relative;
  font-weight: 500;
  text-shadow: 10px 10px 50px #888888;
}

h3 {
  color: #9b7a16;
  text-align: center;
  position: relative;
  font-weight: 400;
  text-shadow: 10px 10px 50px #888888;
} */

h2,
h3 {
  margin: 25px;
  text-align: center;
}

a {
  text-decoration: none;
}

main {
  background-image: url(./assets/images/backdrop-y.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  min-height: 300px;
}

/*Header template*/
.logo {
  width: 75px;
  height: 75px;
  padding: auto;
  margin-right: 1.5rem;
}

@media screen and (min-width: 768px) {
  .nav-item {
    margin: 0 0.6rem;
  }
}
/* Typography Classes*/
.font-Brandon {
  font-family: 'Brandon', sans-serif;
}

.font-Trajan {
  font-family: 'Trajan', sans-serif;
}

.font-Zapfino {
  font-family: 'Zapfino', sans-serif;
}

.font-Tnr {
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  text-transform: initial;
}

.f-s-12 {
  font-size: 12px;
}

.f-s-14 {
  font-size: 14px;
}

.f-s-16 {
  font-size: 16px;
}

.f-s-18 {
  font-size: 18px;
}

.f-s-20 {
  font-size: 20px;
}

.f-s-30 {
  font-size: 30px;
}

.f-s-40 {
  font-size: 40px;
}

.f-s-60 {
  font-size: 60px;
}

.f-s-80 {
  font-size: 80px;
}

.f-s-100 {
  font-size: 100px;
}

/* Color templates*/
.color-ivory {
  color: #fffdec !important;
}

.color-lgrey {
  color: #d6d2cd !important;
}

.color-gold {
  color: #877333 !important;
}

.color-white {
  color: #fff !important;
}

.color-dgrey {
  color: #535150 !important;
}

.color-ivory-bg {
  background: #fffdec !important;
}

.color-lgrey-bg {
  background: #d6d2cd !important;
}

.color-gold-bg {
  background: #877333 !important;
}

.color-white-bg {
  background: #fff !important;
}

.color-dgrey-bg {
  background: #535150 !important;
}

/* Banner-section */

#banner-area {
  max-width: 100%;
  max-height: fit-content;
  position: relative;
  top: 0;
}

/* .media {
  width: 100%;
  z-index: -2;
} */

.bg-image-1 {
  width: 100%;
  height: 600px;
  text-align: center;
}

.bg-image-2 {
  width: 100%;
  height: 900px;
  text-align: center;
  z-index: 1;
}

.bg-image-3 {
  width: 100%;
  height: 600px;
  text-align: center;
}

.bg-image-4 {
  width: 100%;
  height: 600px;
  text-align: center;
}

.bg-image-4 img {
  filter: drop-shadow(-10px 20px 10px #222);
}

.content {
  background-color: rgba(255, 253, 236, 0.8);
  position: absolute;
  border-radius: 5px;
  top: 60%;
  left: 25%;
  width: 50%;
  height: 35%;
  text-align: justify;
}

/* Testimonial section */

.para-test {
  padding: 25px;
  text-align: center;
  letter-spacing: 0.3rem;
  word-spacing: 1.2rem;
}

/* Accommodation Section */
.card,
.list-group-item {
  background-color: lavenderblush;
}

.card img {
  width: 100%;
  height: 400px;
}

.btn-pink {
  background-color: lavenderblush;
}

.container-fluid {
  padding: 0;
}

/* Values Section */
.medals {
  min-width: 100%;
  justify-content: space-around;
  overflow-x: hidden;
}

.medals .col img {
  width: 350px;
  height: 350px;
}

/* Address Section */

.comm {
  padding-right: 50px;
  padding-left: 50px;
  background-color: #fff;
  margin-left: -100px;
  z-index: 2;
  box-shadow: 10px 10px 10px;
  border-radius: 10px;
}
